/scripts
/assets/1x/*
/assets/2x/*
!/assets/1x/atlas_horses.png
/.vs
/assets/uncombined/horses/*/*
!/assets/uncombined/horses/oklch*
/assets/uncombined/horses/oklch/src/oklch/__pycache__
!/assets/uncombined/horses/accessories*